spring:
  application:
    name: eurekaserver
  config:
    import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:8071}
management:
  endpoints:
    web:
      exposure:
        include: "*"