spring:
  application:
    name: apigateway
#  config:
#    import: "configserver:http://localhost:8071"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lowerCaseServiceId: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 5s
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s
#    circuitbreaker:
#      resilience4j:
#
#        disable-time-limiter: true



management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:

#      enabled: true
      access: unrestricted
  info:
    env:
      enabled: true

logging:
  level:
    com:
      university:
        apigateway: DEBUG

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
#  timelimiter:
#    configs:
#      default:
#        timeout-duration: 2s






